.modals {
  z-index: 100;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #272727, $alpha: 0.8);
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  * {
  transition: all 0.5s ease-in-out;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  will-change: transform;
  width: 100%;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
}

.modal--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: max-content;
  border-radius: 12px;
  padding: 20px;
  background-color: $bg-second;

  &__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: $accent;

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: currentColor;
      pointer-events: none;
    }

    &:focus {
      outline: 1px solid $accent;
      outline-offset: 2px;
    }
  }

  &__btn-close {
    width: inherit;
    height: inherit;
    fill: $default;
    pointer-events: none;
    transition: fill 0.3s ease-in-out;
  }
}


.graph-modal__container {
  background-color: #333;
  color: var(--default);
}
.graph-modal__close {
  width: 30px;
  height: 30px;
  color: var(--default);
  &:hover {
    color: var(--accent)
  }
  svg {
    path {
      transition: color .3s ease-in-out;
      fill:currentColor;
    }
  }
}
.not-finished {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  &__title {
    align-self: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--title);
    text-align: center;
  }
  &__text {
    text-align: center;
    padding-bottom: 20px;
    font-size: 26px;
    line-height: 32px;
  }
  &__link {
    align-self: center;
    color: var(--accent);
  }
}
