.portfolio {
  padding: $padding;
  text-align: center;

  &__title {
    display: inline-block;
    margin-bottom: 40px;
  }

  &__btns {
    margin-bottom: 55px;
  }

}
// mashcindie
// alebabex
.filter {
  @include flex-all-center;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }


  }

  &__btn {
    position: relative;
    font-size: 24px;
    line-height: 33px;
    color: $dark-gray;

    transition: color .3s ease-in-out;

    &:hover {
      color: $default;
    }

    &:focus {
      outline: 1px solid $accent;
      outline-offset: 2px;
      border-radius: 5px;
    }

    &:active {
      color: $default;
    }
  }

  &__works {
    margin-bottom: 40px;
  }
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: auto;
  gap: 60px;
  margin-bottom: 35px;

  &__item {
    grid-column: 4 span;

    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out, max-height .3s ease-in-out;
    display: none;
    height: 0;
    &--visually {
      opacity: 1;
      visibility: visible;
      max-height: 350px;
      display: block;
      height: 100%;
      ;
    }
  }
}

.btn-more {
  // margin-top: 60px;
  max-height: 60px;
  transition: padding .3s ease-in-out, max-height .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out, margin-top .3s ease-in-out;
}

.btn-more--hidden {
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  padding: 0;
  border: none;
}

.portfolio-work {
  position: relative;
  transform-style: preserve-3d;

  &:hover {

    .portfolio-work__link::after {
      opacity: 1;
    }

    .portfolio-work__eye {
      bottom: 115px;
      opacity: 1;
      visibility: visible;

      transition: opacity 0.4s linear, visibility 0.4s linear, bottom 0.4s linear;
    }

    .portfolio-work__text {
      bottom: 28px;
      opacity: 1;
      visibility: visible;

      transition: opacity 0.3s linear 0.3s, visibility 0.3s linear 0.3s, bottom 0.3s linear 0.3s;
    }
  }

  &__link {
    display: block;
    border-radius: 30px;
    overflow: hidden;
    background-color: $bg-fill;

    img {
      width: 100%;
      height: 270px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      background-color: rgba(39, 39, 39, .2);
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      background-color: rgba(15, 15, 15, 0.6);
      opacity: 0;
      transition: opacity .4s ease-in-out;
    }

    &:focus {
      outline: 1px solid $accent;
      outline-offset: 2px;
    }
    &--not-finished {
      opacity: 0.5;
      &::before {
      background-color: rgba(39, 39, 39, .6);
      }
    }

  }

  &__eye {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 70px;
    height: 42px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateZ(20px);
    pointer-events: none;
    transition: opacity 0.4s linear 0.3s, bottom 0.4s linear 0.3s, visibility 0.4s linear 0.3s;
    transform-style: preserve-3d;
    will-change: transform;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-50%) translateZ(20px);
    will-change: transform;
    transition: opacity 0.4s linear 0.1s, visibility 0.4s linear 0.1s, bottom 0.4s linear 0.1s;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 7px;
    color: $title;
    @extend %open-400;
    font-size: 26px;
    line-height: 35px;
  }

  &__descr {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    @extend %open-300;
    font-size: 20px;
    line-height: 27px;
  }
}

.mixitup-control-active {
  color: $title;
  pointer-events: none;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $accent;
  }
}
