:root {
  --bg-main: #0f0f0f;
  --bg-second: #1d1d1d;
  --bg-img: #323232;
  --bg-fill: #272727;

  // Color
  --default: #cecece;
  --title: #f0f0f0;
  --accent: #fe206f;
  --dark-gray: #616161;
}


body,
html {
  height: 100%;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  position: relative;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background-color: $bg-main;
  font-size: 23px;
  line-height: 31px;
  color: $default;
  @extend %open-400;
}

.hidden {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  position: relative;
  margin-bottom: 30px;
  padding-left: 85px;

  @extend %oswald-400;
  font-size: 65px;
  line-height: 78px;
  color: $title;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 65px;
    height: 1px;
    background-color: $accent;
    transform: translateY(-50%);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}


.page--ios .dis-scroll {
  position: relative;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 25px 18px;
  font-size: 25px;
  line-height: 100%;
  border-radius: 50px;

  &:focus {
    outline: 1px solid $accent;
    outline-offset: 2px;
  }

}

.btn--fill {
  border: 1px solid transparent;
  color: $default;
  background-color: $bg-fill;
  // transition: all .3s ease-in-out!important;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;

  &:hover {
    // border: 1px solid $accent;
    border-color: $accent;
    color: $title;
  }

  &:active {
    border: 1px solid $accent;
    color: $title;
  }
}

.btn--stroke {
  border: 1px solid $accent;
  overflow: hidden;
  z-index: 20;
  color: $title;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    left: -75px;
    top: -50px;
    width: 50px;
    height: 155px;
    z-index: -10;
    opacity: .7;
    background-color: #fff;
    transition: left .8s cubic-bezier(0.19, 1, 0.22, 1), transition .8s cubic-bezier(0.19, 1, 0.22, 1);
    transform: rotate(35deg);
  }

  &:hover {
    &::before {
      left: 120%;
    }
  }

}
